body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 20px;
  margin: 0 auto;
  width: 960px;
}

div#header {
  background-color: chocolate;
  border-radius: 6px;
  padding: 40px;
  margin: 60px auto;
  width: 400px;
  text-align: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

div#header h1 {
  color: #fff;
}

.btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: #212529;
}

ol li {
  list-style: none;
  display: inline-block;
  background-color: blanchedalmond;
  border-radius: 6px;
  padding: 20px;
  margin-left: 50px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}
ol li:first-child {
  margin-left: 0;
}

li p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  color: #212529;
}

.primary-1 {
  color: blue;
  text-decoration: underline;
}

footer {
  background-color: #55799c;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 60px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}
